@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

.gradient-custom-3 {
    background:url("index.jpg");
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    min-height: 100%;
  }

.head{
  font-family: 'Sorts Mill Goudy', serif;
  color: rgb(34,80,44) !important;
}
.btn.btn-success{
  border-color: black !important;
  color: black !important;
  background-color: transparent !important;
}
.btn.btn-success:hover{
  color:white !important;
  background-color: rgb(34,80,44) !important;
}
.card{
  margin-top: 20%;
  background-color: white !important;
}
input{
  background-color:whitesmoke !important;
}